<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>MagicCollection</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="../">MagicCollection</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="../">Accueil</a></li>
						<li><a href="{{ url_for('static', filename='rechav.html') }}">Recherche avancée</a></li>
						<li><a href="{{ url_for('static', filename='right-sidebar.html') }}">Statistiques</a>
							<ul>
								<li><a href="{{ url_for('static', filename='statsgen.html') }}">Générales</a></li>
								<li><a href="#">Avancées</a></li>
								<li><a href="#">Originales</a></li>
							</ul>
						</li>
						<li><a href="{{ url_for('static', filename='right-sidebar.html') }}">Trophées</a></li>
						<li><a href="../visio">Visionneuse d'extension</a></li>
						<li><a href="{{ url_for('static', filename='Ajout.html') }}" class="button primary">Ajouter une carte</a></li>
					</ul>
				</nav>
			</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Recherche avancée</h2>
							<p>Un moyen de sélectionner et de visualiser des cartes de votre collection selon une multitude de critères !</p>
						</header>

						<!-- Content -->
							<section id="content">
								<h3>Critères de sélection</h3>
								
								<div>

								<div style="float: left;">
								<h5>Nom de la carte: </h5>
								<input type="text" id="nom" style="width: 13vw; height: 3vw; margin-right:2vw;">
								</div>

								<div style="float: left;">
								<h5>Texte dans la carte: </h5>
								<input type="text" id="texte" style="width: 13vw; height: 3vw; margin-right:2vw;">
								</div>

								<div style="float: left; padding-left: 2%;">
								<h5>Rareté: </h5>
								<select id="rarete" style="width: 13vw; height: 3vw; margin-right:2vw;">
									<option value="Tout">Tout</option>
									<option value="Common">commune</option>
									<option value="Uncommon">peu commune</option>
									<option value="Rare">rare</option>
									<option value="Mythic">mythique</option>
								</select>
								</div>

								<div style="float: left; padding-left: 2%;">
								<h5>Extension: </h5>
								<select id="set" style="width: 13vw; height: 3vw; margin-right:2vw;">
								</select>
								</div>

								<div style="overflow: hidden; padding-left: 2%;">
								<h5>Type de carte: </h5>
								<select id="typ" style="width: 13vw; height: 3vw; margin-right:2vw;">
								</select>
								</div>
								
								</div>
								
								<br><br>
								<ul class="actions special">
									<li><a class="button" id="bout">Rechercher</a></li>
								</ul>
								
								<br>
								<div style="width:100%;height:5vw; background-color: grey; opacity: 0.4; border-radius: 0.5vw;"></div>
								<br>

								<div id="result"></div>
								<br>
								<a href="#" class="image fit"><img src="images/bannerbis.jpg" alt="" /></a>
							</section>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/rechav.js"></script>

	</body>
</html>