<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Statistiques générales</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="../">MagicCollection</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="../">Accueil</a></li>
						<li><a href="{{ url_for('static', filename='recherche_avancee.html') }}">Recherche avancée</a></li>
						<li><a href="{{ url_for('static', filename='right-sidebar.html') }}">Statistiques</a>
							<ul>
								<li><a href="{{ url_for('static', filename='statsgen.html') }}">Générales</a></li>
								<li><a href="#">Avancées</a></li>
								<li><a href="#">Originales</a></li>
							</ul>
						</li>
						<li><a href="{{ url_for('static', filename='right-sidebar.html') }}">Trophées</a></li>
						<li><a href="../visio">Visionneuse d'extension</a></li>
						<li><a href="{{ url_for('static', filename='Ajout.html') }}" class="button primary">Ajouter une carte</a></li>
					</ul>
				</nav>
			</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Statistiques générales</h2>
							<p>Votre collection en quelques chiffres !</p>
						</header>
						<div class="row gtr-150">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<h3>Couleurs</h3>
											<p>Découvrez la répartition de vos cartes en terme de couleurs. Penchez vous pour le vert et les créatures avec une grande force ou pour le bleu avec ses rituels et éphémères ?</p>
											<div style="background-color: rgb(186,186,186); border-radius: 0.3vw;"><canvas id="guildes"></canvas></div>
											<br>
											<p>Quelle est votre guilde de coeur ? Peut-être est-il temps de se lancer vers l'inconnu en rentrant dans une nouvelle guilde... </p>
										</section>
										<hr />
										<section>
											<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
											<br>
											<h3>Amet Lorem Tempus</h3>
											<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
											<div style="background-color: rgb(186,186,186); border-radius: 0.3vw;"><canvas id="rarity"></canvas></div>
											<br><br>
											<h3>Sed Magna Ornare</h3>
											<p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
											<ul>
												<li>Faucibus orci lobortis ac adipiscing integer.</li>
												<li>Col accumsan arcu mi aliquet placerat.</li>
												<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
												<li>Blandit massa non blandit tempor interdum.</li>
												<li>Lacinia mattis arcu nascetur lobortis.</li>
											</ul>
										</section>
									</section>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<section id="content">
										<div style="background-color: rgb(186,186,186); border-radius: 0.3vw;"><canvas id="colors"></canvas></div>
										<br>
										<h3>Dolore Amet Consequat</h3>
										<p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
										<p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique.</p>
										
										<div style="background-color: rgb(186,186,186); border-radius: 0.3vw;"><canvas id="types"></canvas></div>
										<br><br>

									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
			<script src="assets/js/utils.js"></script>
			<script src="assets/js/statsgen.js"></script>
	
	</body>
</html>