<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>MagicCollection</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="./">MagicCollection</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="./">Accueil</a></li>
							<li><a href="{{ url_for('static', filename='rechav.html') }}">Recherche avancée</a></li>
							<li><a href="{{ url_for('static', filename='right-sidebar.html') }}">Statistiques</a>
								<ul>
									<li><a href="{{ url_for('static', filename='statsgen.html') }}">Générales</a></li>
									<li><a href="#">Avancées</a></li>
									<li><a href="#">Originales</a></li>
								</ul>
							</li>
							<li><a href="{{ url_for('static', filename='right-sidebar.html') }}">Trophées</a></li>
							<li><a href="../visio">Visionneuse d'extension</a></li>
							<li><a href="{{ url_for('static', filename='Ajout.html') }}" class="button primary">Ajouter une carte</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Gestion et visualisation de collection</h2>
							<p>L'application parfaite pour gérer vos cartes Magic<br />
							Stocker, Consulter, Analyser</p>
						</header>
						<span class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/pic11.jpg') }}" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>En quelques chiffres...</h2>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<h3>Nombre de cartes</h3>
									<h2>{{ nbrc }} cartes</h2>
								</div>
								<div class="col-4 col-12-medium">
									<h3>{{ flavorn }} </h3>
									<h4 style="font-style: italic;">{{ flavor }}</h4>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></span>
					<div class="content">
						<header>
							<h2>Carte de votre collection <i>(aléatoire)</i></h2>
						</header>
						<img src={{ urlc }} style="height:75%; margin-right:auto; margin-left:auto;">
						<!-- <ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></span>
					<div class="content">
						<header>
							<h2>MagicCollection</h2>
							<p>Un outil de consultation et d'analyse</p>
						</header>
						<p>Retrouvez de nombreuses statistiques sur votre collection en accèdant à l'onglet <b>consultation</b>. <br>
						 Extensions et couleurs les plus représentées, créatures les plus puissantes et bien plus encore !</p>
						<ul class="actions">
							<li><a href="{{ url_for('static', filename='left-sidebar.html') }}" class="button">Vers Consultation</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Comment gérer facilement vos cartes au format papier ?</h2>
							<p>Avec MagicCollection, gardez un oeil sur les cartes que vous possédez</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-chart-area"></span>
									<h3>Statistiques</h3>
									<p>Graphiques, chiffres et recherches avancées à l'intérieur de votre collection</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>Trophées</h3>
									<p>De quoi suivre votre avancement dans chaque extension avec le système de trophées</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-file"></span>
									<h3>Export</h3>
									<p>Export de la base de données de cartes selon vos critères er sous différents formats (csv, ...)</p>
								</section>
<!-- 								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3>Cubilia cep lobortis</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-paper-plane"></span>
									<h3>Non semper interdum</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-lock"></span>
									<h3>Massa arcu accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section> -->
							</div>
						</div>
<!-- 						<footer class="major">
							<ul class="actions special">
								<li><a href="#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer> -->
					</div>
				</section>

			<!-- Five -->
<!-- 				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Magna faucibus lorem diam</h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
						<form method="post" action="#" class="cta">
							<div class="row gtr-uniform gtr-50">
								<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section> -->

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			<!-- <script src="{{ url_for('static', filename='accueil.js') }}"></script> -->
	</body>
</html>
